<% unless cart.line_items.empty? %>
 <div>
<%= notice%>
</div>
<div class ="cart_title">Your Cart</div>

<table width="100%" cellpadding="0" cellspacing="0" border="0">

	<%= render(cart.line_items)%>

	<tr>
		<td colspan="2">Total</td>
		<td  colspan="2" class="total_cell"><%= number_to_currency(cart.total_price)%>
		</tr>
</table>
   <%= button_to 'Checkout',new_order_path, :method => :get %>
	<%= button_to 'Empty Cart', cart, :method => :delete, :confirm => 'Are You sure' %>
<% end %>



